/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px 30px;
    background-color: #E0E6F8; /* Light blue background */
    color: #2C3E50; /* Dark blue text */
}

header {
    border-radius: 20px;
    font-family: 'Brush Script MT';
    background-color: #2980B9; /* Blue header background */
    color: rgb(196, 150, 150);
    text-align: center;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    top: 0;
}

header img {
    vertical-align: middle;
}

/* Common Div Styles */
.common-div {
    max-width: 600px;
    margin: 60px auto 20px; /* Adjusted for fixed header */
    padding: 20px;
    background-color: #d6daf8; /* Light blue section background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Flexbox Example */
.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 auto;
}

.flex-item, .grid-item {
    text-align: center;
    background-color: #badbf0; /* Light blue item background */
    padding: 10px;
    border: 1px solid #2980b9; /* Blue border */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 150px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-item img, .grid-item img {
    width: 100px;
    height: 150px;
    margin-bottom: 10px;
}

/* Grid Example */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 5px;
    padding: 10px;
}

footer {
    border-radius: 100px;
    text-align: center;
    padding: 3px 0;
    background-color: #083d61; /* Blue footer background */
    color: rgb(255, 255, 255);
    position: fixed;
    width: 10%;
    bottom: 0;
}
